version: '3.9'
name: career-cue
services:
  ############ INBOUND WEBHOOKS API ############
  inbound-webhooks-api:
    image: career-cue/inbound-webhooks-api
    container_name: career-cue-inbound-webhooks-api
    build:
      context: .
      dockerfile: ./apps/services/inbound-webhooks-api/Dockerfile
    ports:
      - 3000:3000
    env_file:
      - ./apps/services/inbound-webhooks-api/.env.local
    volumes:
      - inbound-webhooks-api:/app
    depends_on:
      - lavinmq
  ############ /INBOUND WEBHOOKS API ############

  ############ ACCOUNTS API ############
  accounts-api:
    image: career-cue/accounts-api
    container_name: career-cue-accounts-api
    build:
      context: .
      dockerfile: ./apps/services/accounts-api/Dockerfile
    ports:
      - 3001:3000
    env_file:
      - ./apps/services/accounts-api/.env.local
    volumes:
      - accounts-api:/app
    depends_on:
      - inbound-webhooks-api
      - cockroachdb-cluster
  ############ /ACCOUNTS API ############

  ############ ACCOUNTS WORKER ############
  accounts-worker:
    image: career-cue/accounts-worker
    container_name: career-cue-accounts-worker
    build:
      context: .
      dockerfile: ./apps/services/accounts-worker/Dockerfile
    ports:
      - 3002:3000
    env_file:
      - ./apps/services/accounts-worker/.env.local
    volumes:
      - accounts-worker:/app
    depends_on:
      - inbound-webhooks-api
  ############ /ACCOUNTS WORKER ############

  ############ ACCOUNTS GRAPHQL ############
  accounts-graphql:
    image: career-cue/accounts-graphql
    container_name: career-cue-accounts-graphql
    build:
      context: .
      dockerfile: ./apps/services/accounts-graphql/Dockerfile
    ports:
      - 3003:3000
    env_file:
      - ./apps/services/accounts-graphql/.env.local
    volumes:
      - accounts-graphql:/app
    depends_on:
      - inbound-webhooks-api
      - accounts-api
      - cockroachdb-cluster
  ############ /ACCOUNTS GRAPHQL ############

  ############ LAVINMQ ############
  lavinmq:
    image: cloudamqp/lavinmq:latest
    container_name: lavinmq
    hostname: lavinmq
    ports:
      - 15672:15672 # Management UI
      - 5672:5672 # AMQP
    restart: always
  ############ /LAVINMQ ############

  ############ CockroachDB Cluser ############
  cockroachdb-cluster:
    image: cockroachdb/cockroach
    ports:
      - '26257:26257'
      - '9876:8080'
    command: start-single-node --insecure
    volumes:
      - cockroachdb-cluster:/cockroach/cockroach-data'
      - ./docker-startup/db:/docker-entrypoint-initdb.d
    restart: always
  ############ /CockroachDB Cluser ############

  ############ Apollo Router ############
  apollo-router:
    image: ghcr.io/apollographql/router:v1.59.0
    container_name: apollo-router
    ports:
      - '4000:4000'
    volumes:
      - ./graphql/supergraph-dev.yaml:/supergraph.yaml
      - ./graphql/supergraph-dev.graphql:/supergraph.graphql
      - ./graphql/router-dev.yaml:/router.yaml
    command:
      [
        '--dev',
        '--config',
        '/router.yaml',
        '--supergraph',
        '/supergraph.graphql',
      ]
    depends_on:
      - accounts-graphql
  ############ /Apollo Router ############
volumes:
  inbound-webhooks-api:
  accounts-api:
  accounts-worker:
  accounts-graphql:
  lavinmq:
  cockroachdb-cluster:
