go 1.23

use (
	./apps/services/accounts-api
	./apps/services/accounts-worker
	./apps/services/accounts-graphql
	./apps/services/inbound-webhooks-api
	./apps/services/test-graphql
	./libs/backend/boot
	./libs/backend/domain/user
	./libs/backend/eventing
	./libs/backend/proto-gen/go
)
