app = 'accounts-worker-prod'

[[services]]
primary_region = 'iad'

[build]
dockerfile = "Dockerfile"
ignorefile = ".dockerignore"

[[machines]]
restart_policy = "always"

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1

[metrics]
port = 3000
path = "/metrics" # default for most prometheus exporters
