app = '<%= serviceName %>-prod'

[[services]]
primary_region = 'ewr'

[build]
dockerfile = "Dockerfile"

<% if (serviceType === 'app') { %>
[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']
<% } %>

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1

[[machines]]
restart_policy = "always"

[metrics]
port = 3000
path = "/metrics" # default for most prometheus exporters
